<%= form_tag(tweets_hashtag_path, method: :get) do %>
	<%= label_tag(:tag_name, "#タグで探す") %>
	<%= text_field_tag(:tag_name) %>
	<%= submit_tag"Search" %>
<% end %>

<p style="color: blue">タグ一覧</p>
<% @tag_lists. shuffle. first(5). each do |tag| %>
	<%= tag.tag_name %>
<% end %><br>


<p style="color: blue">タグ検索後ツイート一覧</p>
<table>
<% @tweets.each do |tweet| %>
	<tr>
	<td><%= attachment_image_tag tweet.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'70x70' %></td>
	<td><%= link_to tweet.user.name, user_path(tweet.user) %></td>
	<td><%= tweet.body %></td>
	</tr>
<% end %>
</table>