<%= form_tag(tweets_hashtag_path, method: :get) do %>
	<%= label_tag(:tag_name, "#タグで探す") %>
	<%= text_field_tag(:tag_name) %>
	<%= submit_tag"Search" %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<p style="color: blue">タグ一覧</p>
			<table>
			<% @tag_lists. shuffle. first(5). each do |tag| %>
				<tr>
				<td><%= link_to tag.tag_name, tag_path(tag) %></td>
				</tr>
			<% end %><br>
			</table>
		</div>

		<div class="col-xs-6">
			<p style="color: blue">タグ検索後ツイート一覧</p>
			<table>
			<% @tweets.each do |tweet| %>
				<tr>
				<td><%= attachment_image_tag tweet.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'70x70' %></td>
				<td><%= link_to tweet.user.name, user_path(tweet.user) %></td>
				<td><%= tweet.body %></td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>