<!DOCTYPE html>
<html>
  <head>
    <title>Shirafu2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <% if user_signed_in? %>
            <%= link_to"Shirafu", root_path %>
              <%= link_to"Home", tweets_path %>
            <%#= link_to tweets_hashtag_path, method: :get do %>
            <%= link_to"New", new_tweet_path %>
            <%= link_to"User", users_path %>
            <%= link_to"logout", destroy_user_session_path, method: :delete %>
      <% else %>
            <%= link_to"Shirafu", root_path %>
            <%= link_to"Signup",new_user_registration_path %>
            <%= link_to"login",new_user_session_path %>
      <% end %>
    <%= yield %>
  </body>
</html>
